@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg: #13121b;
  --main-text: 255 255 255;
  --sub-text: #d1d1d1;
  --date-text: #b9b9ba;
  --active-btn: 97 97 222;
  --inactive-btn: #232337;
  --input-bg: #191926;
  --token-row: #191926;
  --coins-converter: #191926;
  --price-chart: #191934;
  --volume-chart: #1f1934;
  --time-period-text: #a7a7cc;
  --header: #1f1934;
  --navbar: "transparent";
}

[data-theme="light"] {
  --main-bg: #f2f5f9;
  --main-text: 53 53 116;
  --sub-text: #42428b;
  --date-text: #42428b;
  --active-btn: 97 97 222;
  --inactive-btn: white;
  --input-bg: 204 204 254;
  --token-row: white;
  --coins-converter: white;
  --price-chart: white;
  --volume-chart: white;
  --time-period-text: #181826;
  --header: #353574;
  --navbar: white;
}

/* [data-theme="dark"] {
  --main-bg: #13121b;
  --main-text: white;
  --active-btn: #39397c;
  --inactive-btn: #232337;
  --inactive-token: #191926;
  --inactive-time-period: #191926;
  --token-row-bg: #191926;
  --price-chart: #191934;
  --volume-chart: #1f1934;
} */

/* [data-theme="light"] {
  --main-bg: #f2f5f9;
  --main-text: black;
} */
